<%= form_for @user do |f| %>
  <% if @user.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>  
    <ul>  
    <% @user.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>  
  <p><%= f.label :email %><%= f.text_field :email_address %></p>
  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
  <p><%= label_tag :phone_number %><%= text_field_tag :phone_number %></p>
  <% end %>
  <p><%= f.label :surname %><%= f.text_field :surname %></p>
  <p><%= f.label :first_name %><%= f.text_field :first_name %></p>
  <p><%= f.label :second_name %><%= f.text_field :second_name %></p>
  <p><%= f.label :language %><%= select("user","language", {"English" => "English", "Swahili" => "Swahili", "Sukuma" => "Sukuma"}) %></p>
  <p><%= f.label :balance %><%= f.text_field :balance %></p>
  <p><%= f.label :user_type %><%= select("user","user_type", {"Admin" => "Admin", "User" => "User"}, :default => "User") %></p>
  <p><%= f.label :password %><%= f.password_field :password %></p>
  <p><%= f.label :password_confirmation %><%= f.password_field :password_confirmation %>
  <p><%= f.label :deleted %><%= f.check_box :deleted %></p>
  <p><%= f.submit %></p>
<% end %>

<br/><%= render :partial => 'admin/admin_link' %> 