<h1>Show User</h1>
  <p><%= label_tag :email_address %>: <%= @user.email_address %></p>
  <p><%= label_tag :surname %>: <%= @user.surname %></p>
  <p><%= label_tag :first_name %>: <%= @user.first_name %></p>
  <p><%= label_tag :second_name %>: <%= @user.second_name %></p>
  <p><%= label_tag :language %>: <%= @user.language %></p>
  <p><%= label_tag :balance %>: <%= @user.balance %></p>
  <p><%= label_tag :user_type %>: <%= @user.user_type %></p>
  <p>User Phone: <br/>
  <% @user.user_phones.each do |p| %>
    <%= p.phone_number %> <%= link_to 'delete', user_user_phone_url(@user,p), :method => :delete, :confirm => "Are you sure?"  %><br/>
  <% end %>
  </p>
  
  <%= render :partial => 'user_phones' %>
  
  <br/>
  <%= render :partial => 'admin/admin_link' %> | <%= link_to 'Edit', edit_user_url(@user) %> | <%= link_to 'Show All', admin_users_url %>